body {

	background-color: pink;

}

#chartArea {background-color: white;}


.bar {
	
	display: inline-block;
	margin-right: 2px;
	/*width: 20px;*/
}

.axis path, .axis line {
	stroke: #000;
	stroke-width: 1 px;
	shape-rendering: crispEdges;
}