body {
	background-color: green;

}
p {font-size: 50px;
	background-color: purple;
}
h1 {background-color: purple;
}
h3 {background-color: purple;
}

.center {
	text-align: center;
}
.center {width:100%;
}
div {
	width: 96%;
	background-color: pink;
	margin: 0 auto;
	padding-top: 200px;
	font-size: 2em;
	
}


@media (min-width: 768px){
div {
	background-color: yellow;
	padding-top: 100px;
	font-size: 3em;
	
}
}
@media (min-width: 1180px) {
	.container {
		margin: 0 auto;
		width: 1160px; 
	}
}